<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209333731238-89rmfoejprc4m5ut64a7069mrul9kgi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209333731238-89rmfoejprc4m5ut64a7069mrul9kgi6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209333731238-3d77a49a850q3oe37rpk4tsmlv6j1b9l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhW8nxY8vXfecV6Ah7DGfCf6z6FXlQK0A</string>
	<key>GCM_SENDER_ID</key>
	<string>209333731238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bolivia.verifica</string>
	<key>PROJECT_ID</key>
	<string>bolivia-verifica</string>
	<key>STORAGE_BUCKET</key>
	<string>bolivia-verifica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209333731238:ios:fef67c31fc0097f9e85967</string>
	<key>DATABASE_URL</key>
	<string>https://bolivia-verifica.firebaseio.com</string>
</dict>
</plist>